* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
.header-top {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    color: #656565;
}
.logo a{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
}
.logo-icon {
    background: linear-gradient(#b54be9, #d14da3);
    padding: 10px;
    border-radius: 50%;

}
.header a{
    color: #0f0f0f;
}
.logo-title {
    font-weight: 400;
}
nav ul{
    display: flex;
    column-gap: 30px;
}
nav ul li a:hover{
    color: #a527ed;
}
.header-top-btn {
    display: flex;
    column-gap: 15px;
}
.header-top-btn button {
    border: none;
    padding: 10px;
    background: transparent;
    border-radius: 10px;
}
.header-top-btn button:hover {
    background: lightgray;
}
.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0;
    color: #ffff;
    background: linear-gradient(135deg, #9914f9, #f73c95, #ff8623);
    row-gap: 20px;
}
.header-bottom h1{
    font-size: 60px;
    font-weight: 600;
    width: 770px;
    line-height: 60px;
    text-align: center;
}
.header-bottom p{
    font-size: 20px;
    width: 770px;
    text-align: center;
    font-weight: 400;
}
.header-bottom-btn button{
    border: none;
    background: #ffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    color: #9914f9;
    cursor: pointer;
}
#btn-hover {
    color: #ffff;
}
#btn-hover:hover {
    background: transparent;
    outline: 1px solid #ffff;
    color: black;
}
.advantage {
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
    column-gap: 30px;
    text-align: center;
}
.advantage article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantage article span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: #f4e8ff;
    border-radius: 50%;
    color: #a527ed;
    margin-bottom: 16px;
}
.advantage article h3 {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}
.advantage article p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #5a5859;
}
.catalog {
    display: flex;
    flex-direction: column;
    padding: 65px 0;
    align-items: center;
}

.card img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin-bottom: 20px;
}
.catalog-cards {
    display: flex;
    align-items: center;
    column-gap: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 30px;
}
.card {
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    max-width: 350px;
}
.card:hover {
    box-shadow: 0 5px 5px #5a5859;
}
.catalog h2 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
}
.catalog > p {
    font-size: 16px;
    line-height: 24px;
    color: #5a5859;
    text-align: center;
    margin-bottom: 50px;
}
.label {
    font-size: 12px;
    line-height: 16px;
    color: #a527ed;
    text-transform: uppercase;
}
.card-text {
    padding: 16px;
}
.card-text h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin: 10px 0;
}
.card-text p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #5a5859;
    margin-bottom: 10px;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.cost {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #9914f9;
}
.in-stock {
    font-size: 12px;
    line-height: 16px;
    color: darkgreen;
}
.card-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    background: #9914f9;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 500;
}
.card-btn:hover {
    background: #a026ff;
}
.catalog > button {
    width: fit-content;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 10px;
    background: #9914f9;
    color: white;
    border: none;
    cursor: pointer;
}
.catalog > button:hover {
    background: #8d08ec;
}